<div class="row">
    <div class="col-3 ml-4" *ngIf="latest">
        <h3>Latest Activity</h3>
        <ol>
            <li>Activity: {{latest.activity}}</li>
            <li>Latest X: {{latest.latestX}}</li>
            <li>Latest Y: {{latest.latestY}}</li>
            <li>Latest Z: {{latest.latestZ}}</li>
            <li>Overall Motion: {{latest.motionOverall}}</li>
        </ol>
        <p>Last updated at: {{latest.activityTimestamp | date:'medium'}}</p>
    </div>
</div>

<div class="form-row align-items-center mb-2">
 
    <div class="col-6 mt-4">
        <button type="button" class="btn btn-dark mr-3" (click)="refreshLatestValue()">Refresh Latest Value</button>
        <button type="button" class="btn btn-dark" (click)="refreshLastHourValues()">Refresh Last Hour Values</button>
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Activity</th>
            <th scope="col">Overall Motion</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let item of lastHour; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.activity}}</td>
            <td>{{item.motionOverall}}</td>
            <td>{{item.activityTimestamp | date:'medium'}}</td>
        </tr>
    </tbody>
</table>