<div id="app" class="no-scroll-x">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/" class="inline-block nav-link" routerLink="">Station</a>
        <a href="/edge" class="inline-block nav-link" routerLink="edge">Activity Edge</a>
        <a href="/cloud" class="inline-block nav-link" routerLink="cloud">Activity Cloud</a>
      </li>
    </ul>
  </nav>

    <router-outlet></router-outlet>
</div>